.style-italic {font-style:italic;}
.style-oblique {font-style:oblique;}
.style-initial {font-style:initial;}
.style-italic {font-style:italic;}
.style-helvetica { font-family: 'Helvetica Neue', sans-serif;}
.style-open { font-family: 'Open Sans', sans-serif; }
.style-trocchi {font-family: 'Trocchi', serif;}