.color-white {color:#fff;}
.color-black {color:#000;}
.color-red   {color:#ff1919;}
.color-yellow{color:#ffdf0d;}
.color-green {color:#29ff0d;}
.color-blue  {color:#0da2ff;}
.color-pink  {color:#ff0def;}
