.padding-left-1, .p-l-1 {padding-left: 1%;}
.padding-left-2, .p-l-2 {padding-left: 2%;}
.padding-left-3, .p-l-3 {padding-left: 3%;}
.padding-left-4, .p-l-4 {padding-left: 4%;}
.padding-left-5, .p-l-5 {padding-left: 5%;}
.padding-left-6, .p-l-6 {padding-left: 6%;}
.padding-left-7, .p-l-7 {padding-left: 7%;}
.padding-left-8, .p-l-8 {padding-left: 8%;}
.padding-left-9, .p-l-9 {padding-left: 9%;}
.padding-left-10, .p-l-10{padding-left: 10%;}
.padding-left-11, .p-l-11{padding-left: 11%;}
.padding-left-12, .p-l-12{padding-left: 12%;}
.padding-left-13, .p-l-13{padding-left: 13%;}
.padding-left-14, .p-l-14{padding-left: 14%;}
.padding-left-15, .p-l-15{padding-left: 15%;}
.padding-left-16, .p-l-16{padding-left: 16%;}
.padding-left-17, .p-l-17{padding-left: 17%;}
.padding-left-18, .p-l-18{padding-left: 18%;}
.padding-left-19, .p-l-19{padding-left: 19%;}
.padding-left-20, .p-l-20{padding-left: 20%;}
.padding-left-21, .p-l-21{padding-left: 21%;}
.padding-left-22, .p-l-22{padding-left: 22%;}
.padding-left-23, .p-l-23{padding-left: 23%;}
.padding-left-24, .p-l-24{padding-left: 24%;}
.padding-left-25, .p-l-25{padding-left: 25%;}
.padding-left-26, .p-l-26{padding-left: 26%;}
.padding-left-27, .p-l-27{padding-left: 27%;}
.padding-left-28, .p-l-28{padding-left: 28%;}
.padding-left-29, .p-l-29{padding-left: 29%;}
.padding-left-30, .p-l-30{padding-left: 30%;}
.padding-left-31, .p-l-31{padding-left: 31%;}
.padding-left-32, .p-l-32{padding-left: 32%;}
.padding-left-33, .p-l-33{padding-left: 33%;}
.padding-left-34, .p-l-34{padding-left: 34%;}
.padding-left-35, .p-l-35{padding-left: 35%;}